<h1><%= title %></h1>
<div>
    <%- messages() %>
</div>
<!--add error message notice-->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>