<h1><%= title %></h1>
<div>
    <%- messages() %>
</div>
<form id="login-form" action="/account/login" method="post">
    <div>
        <label class="top" for="email">Email</label>
        <input type="email" id="email" name="account_email" required>
    </div>
    <div>
        <label class="top" for="password">Password</label>
        <input type="password" id="password" name="account_password" required>
    </div>
    <button class="submitBtn" type="submit">Login</button>
    <p class="registerLkn">No account? <a href="/account/register">Sign-up</a></p>
</form>