<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <div class="heroText">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <a href="#" class="ownTodayButton"><img src="/images/site/own_today.png" alt="Button Own Today"></a>
    </div>
    <div class="heroImage">
        <picture>
            <source media="max-width: 300px" srcset="public/images/vehicles/delorean-tn.jpg">
            <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
        </picture>
    </div>
</div>
<div id="reviews">
    <h2>DMC Delorean Reviws</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>
<div id="upgrades">
    <div class="upgrade-box">
        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        <a href="/upgrades/flux-cap">Flux Capacitor</a>
    </div>
    <div class="upgrade-box">
        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
        <a href="/upgrades/flame">Flame Decals</a>
    </div>
    <div class="upgrade-box">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
        <a href="/upgrades/bumper-sticker">Bumper Stickers</a>
    </div>
    <div class="upgrade-box">
        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        <a href="/upgrades/hub-cap">Hub Caps</a>
    </div>
</div>