@media only screen and (min-width: 800px) {
    body {
        background-image: url(https://raw.githubusercontent.com/joy935/cse340starter/main/public/images/site/small_check.jpg);
        background-size: cover;
        background-position: center;
    }
    #wrapper {
        border: 0.2rem solid var(--primary-color);
        border-radius: 0.5rem;
        background-color: var(--third-color);
        padding: 0.2rem;
    }
    #reviews-upgs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #upgrades-whtitle {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}