@media only screen and (min-width: 900px) {
    /* home page */
    body {
        background-image: url(https://raw.githubusercontent.com/joy935/cse340starter/main/public/images/site/small_check.jpg);
        background-size: cover;
        background-position: center;
    }
    #wrapper {
        border: 0.2rem solid var(--primary-color);
        border-radius: 0.5rem;
        background-color: var(--third-color);
        padding: 0.5rem;
    }
    .siteName {
        position: relative;
        text-align: left;
    }
    #tools {
        position: relative;
        text-align: right;
    }
    #reviews-upgs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    /* grid classification by id view */
    #inv-display {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    /* grid classification by single view */
    #single-display {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
    .single-img {
        width: 100%;
        height: auto;
    }
}