/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #4e9ad8;
  --secondary-color: #333;
  --third-color: #fff;
  --font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
  font-family: var(--font-family);
  max-width: 900px;
  padding: 10px;
}

/*---------- HOMEPAGE ----------*/
/*----- header -----*/
header {
  padding: 1rem;
  text-align: center;
  padding-bottom: 3rem;
}
header a {
  text-decoration: none;
}
.siteName {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.8rem;
}
#tools {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/*----- responsive nav -----*/
nav ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
  color: var(--third-color);
  background-color: var(--secondary-color);
  list-style-type: none; /* remove bullet points */
 padding: 1rem; 
}
nav ul li a {
  text-decoration: none;
  color: var(--third-color)
}
/*----- flash message -----*/
#messages .notice {
  color: red;
  font-weight: bold;
}
/*----- hero -----*/
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heroImage {
  position: relative;
}
.heroImage img {
  width: 100%;
  height: auto;
}
.heroText {
  position: absolute;
  top: 0;
  left: 0.5rem;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  line-height: 0.5;
}
.ownTodayBtn img {
  width: 50%;
  height: auto;
}

/*----- reviews -----*/
#reviews-upgs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
#reviews ul li {
  line-height: 2;
}
/*----- upgrades -----*/
#upgrades-whtitle {
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
#upgrades-whtitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.upper-box {
  width: 100%;
}
#upgrades h2 {
  margin-top: 0;
}
.upgrade-box img {
  max-width: 100%;
}
.upgrade-box {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  text-align: center;
  padding: 0.5rem;
}
.upg-link {
  display: block;
  text-align: center;
}

/*----- footer -----*/
/*---------- GRID CLASSIFICATION VIEW PAGE ----------*/
#inv-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  list-style-type: none; /* remove bullet points */
}

#inv-display a {
  text-decoration: none;
  color: var(--secondary-color-color);
}
#inv-display a:hover {
  color: var(--primary-color); /* set hover color */
}

.list-items {
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
}

.namePrice span {
  font-size: 1.1rem;
  font-weight: bold;
}

/*----- SINGLE VIEW PAGE -----*/
.single-img {
  max-width: 90%;
  height: auto;
  text-align: center;
  justify-content: center;
}
.single-img img {
  display: block;
  margin: auto;
}
.single-details {
  background-color: var(--primary-color);
  line-height: 5px;
  padding: .7rem;
  max-width: 90%;
}
.emphisize {
  font-size: 1.2rem;
}
.single-description h2 {
  font-size: 1.2rem;
}
.single-description {
  padding: .7rem;
}

/*---------- LOG IN FORM ----------*/
#login-form, #register-form {
  text-align: center;
}
#login-form {
  margin: 2rem 0;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 1.5rem 2rem;
  max-width: 500px;
}
form label.top {
  display: block;
  margin: 0.1rem 0;
  font-size: 1rem;
  text-align: left;
}
input {
  display: block;
  font-size: 0.9rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: .45rem 1.5rem;
  width: 100%;
  margin-bottom: 1.2rem;
}
form .submitBtn {
  border: none;
  border-radius: 20px;
  padding: .45rem 1.5rem;
  margin: 0 0 .2rem 2%;
  width: 20%;
  font-size: 1rem;
  color: black;
}
.submitBtn:hover {
  background-color: var(--secondary-color);
  color: white;
}
.registerLkn {
  font-size: 1.1rem;
}
span#pswdBtn {
  display: block;
  text-align: left;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 20px;
  padding: .45rem 1.5rem;
  margin: 0 0 .2rem 2%;
  width: 40%;
  font-size: 1rem;
}

/*---------- REGISTER PAGE ----------*/
#register-form {
  margin: 2rem 0;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 1.5rem 2rem;
  max-width: 500px;
  color: white;
}
form .registerBtn {
  border: none;
  border-radius: 30px;
  padding: .45rem 1.5rem;
  margin: 0 0 .2rem 2%;
  width: 30%;
  font-size: 1rem;
  color: black;
  margin-top: 1rem;
}
.registerBtn:hover {
  background-color: var(--primary-color);
  color: white;
}
span#pswdBtnReg {
  display: block;
  text-align: left;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 20px;
  padding: .45rem 1.5rem;
  margin: 0 0 .2rem 2%;
  width: 42%;
  font-size: 1rem;
}