/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(47, 188, 235);
  --secondary-color: #333;
  --third-color: #fff;
  --font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
  font-family: var(--font-family);
}

/*---------- HOMEPAGE ----------*/
/*----- header -----*/
header {
  padding: 1rem;
  text-align: center;
}
header a {
  text-decoration: none;
}

.siteName {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.5rem;
}
#tools {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/*----- responsive nav -----*/
nav ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
  color: var(--third-color);
  background-color: var(--secondary-color);
  list-style-type: none; /* remove bullet points */
 padding: 1rem; 
}
nav ul li a {
  text-decoration: none;
  color: var(--third-color)
}
/*----- hero -----*/
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heroImage {
  position: relative;
}
.heroImage img {
  width: 100%;
  height: auto;
}
.heroText {
  position: absolute;
  top: 0;
  left: 0.5rem;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  line-height: 0.5;
}