<h1><%= title %></h1>
<div>
    <%- messages() %>
</div>
<p><a href="/inventory/add-classification.ejs">Add New Classification</a></p>
<p><a href="/inventory/add-inventory.ejs">Add New Vehicle</a></p>